node_modules
/.next/
.env
.env.local
/build

supabase/.temp/
supabase/.branches/
supabase/functions/**/.build/

.DS_Store
supabase/.temp/cli-latest

certificates
tsconfig.tsbuildinfo
supabase/.temp
.vercel
.env*.local
.DS_Store
